.waves {
  height: 100vh;
  margin: 0;
  flex-direction: column;
  /* border: 1px solid red; */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  /* border: 1px solid orange; */
  position: absolute;
  /* height: 200px; */
  /* width: 100vw; */
  top: 0;
  left: 0;
  /* display: none; */
}

.wave2 {
  /* border: 1px solid orange; */
  position: absolute;
  bottom: 0;
  left: 0;
  /* display: none; */
}

@media (max-height: 820px) {
  .wave {
    display: none;
  }
  .wave2 {
    display: none;
  }
}
